{{#unless model.logged}}
    <div class="row">
        <form class="col s10 offset-s1" {{action 'loginSubmit' model.user model.password model on='submit'}}>
            <h5 class="col s12">Introduce tus datos para acceder al perfil:</h5>
            <div class="row">
                <div class="col s6 input-field">
                    <i class="material-icons prefix">account_circle</i>
                    {{input class="validate" id="user" type="text" class="validate" required="true" value=model.user}}
                    <label for="user">Usuario</label>
                </div>
                <div class="col s6 input-field">
                    <i class="material-icons prefix">lock</i>
                    {{input class="validate" id="pass" type="password" class="validate" required="true" value=model.password}}
                    <label for="pass">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s4 right-align">
                    <button type="submit" type="Profile" name="submit" class="btn waves-effect waves-light teal">
                        Acceder<i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{{/unless}}
{{#if model.logged}}
<div class="row">
    <form class="col s10 offset-s1" {{action 'saveProfile' model on='submit'}}>
        <h5>Perfil:</h5>
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="user">Usuario</label>
                {{input class="validate" id="user" type="text" class="validate" required="true" value=model.user}}

            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="pass">Password</label>
                {{input class="validate" id="pass" type="password" class="validate" required="true" value=model.password}}

            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="userName">Nombre</label>
                {{input class="validate" id="userName" type="text" class="validate" value=model.name}}

            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="userLastName">Apellidos</label>
                {{input class="validate" id="userLastName" type="text" class="validate" value=model.lastName}}

            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="description">Descripción</label>
                {{input class="validate" id="description" type="text" class="validate" value=model.description}}

            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s4 right-align">
                <button type="submit" type="Profile" name="submit" class="btn waves-effect waves-light teal">
                    Actualizar<i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{{/if}}
{{outlet}}
